body{
    background-color: grey;
}

.Welcome_Banner{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: normal;
    word-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.Links{
    text-align: center;
    word-spacing: 150px;
    background-color: #02FEAA;
    color: black;
    padding: 15px 20px;
    margin: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.parallax{
    /* Image used for background */
    background-image: url("parallax_background_image.jpg");

    min-height: 640px;

    /* parallax scroll feature */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}